    body {
      font-family: 'Verdana', sans-serif;
      margin: 0;
      padding: 0;
      background-color: #232323;
      color: #ddd;
    }

    header {
      background-color: #333;
      padding: 20px;
      text-align: center;
    }

    h1 {
      margin: 0;
      font-size: 36px;
      color: #fff;
    }

    nav {
      background-color: #1a1a1a;
      text-align: center;
      padding: 10px;
    }

    nav a {
      color: #ddd;
      text-decoration: none;
      padding: 10px 20px;
      margin: 0 5px;
    }

    nav a:hover {
      background-color: #333;
    }

    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 30px;
    }

    .intro {
      text-align: center;
      margin-bottom: 30px;
    }

    .intro h2 {
      font-size: 24px;
      color: #f5deb3; /* Cor amarela creme */
    }

    .projects {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .project {
      width: 300px;
      margin: 20px;
      padding: 20px;
      background-color: #1a1a1a;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .project h3 {
      color: #f5deb3; /* Cor amarela creme */
      font-size: 20px;
    }

    .project p {
      color: #ddd;
      margin-top: 10px;
    }

    footer {
      background-color: #333;
      color: #ddd;
      text-align: center;
      padding: 20px;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
    
    /* CSS Formulário */
    form {
      max-width: 400px;
      margin: 0 auto;
      padding: 20px;
      background-color: #b19cd9; /* Roxo claro */
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra leve */
    }

    /* Estilo para os campos de entrada */
    form label {
      display: block; /* Torna cada label ocupar uma linha inteira */
      margin-bottom: 8px; /* Espaçamento vertical entre os labels */
      color: #333; /* Cor do texto padrão */
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea {
      display: block; /* Torna cada input e textarea ocuparem uma linha inteira */
      width: 100%;
      margin-bottom: 12px; /* Espaçamento vertical entre os campos */
      padding: 10px;
      border: 1px solid #ccc; /* Borda cinza claro */
      border-radius: 5px;
    }

    /* Estilo para o botão de envio */
    button[type="submit"] {
      background-color: #6c5b7b; /* Rosa escuro */
      color: #fff; /* Texto branco */
      padding: 10px 15px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    button[type="submit"]:hover {
      background-color: #9b89b0; /* Rosa mais claro ao passar o mouse */
    }