{% extends 'base.html' %}

{% block conteudo %}
<section class="main-content">
    <h2 class="mb-4 text-center">Aplicativo mobile, Startup ABC</h2>
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Aplicativo Mobile ABC</h3>
            <p class="card-text">Bem-vindo ao projeto "Startup ABC"!</p>
            <p><strong>Descrição:</strong> Desenvolvimento de um aplicativo mobile para a Startup ABC, uma empresa fictícia de tecnologia.</p>
            <p><strong>Tecnologias Utilizadas:</strong> React Native, Node.js, MongoDB.</p>
            <p><strong>Cliente:</strong> Startup ABC</p>

            <!-- Outro conteúdo do projeto aqui -->
            
            {% if session['nome_usuario'] %}
                <a href="{{ url_for('projeto') }}" class="btn btn-primary">Voltar à Lista de Projetos</a>
            {% else %}
                <a href="{{ url_for('login') }}" class="btn btn-primary">Faça login para acessar</a>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}