<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}r</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}"> <!-- Esse atributo é utilizado para segurança, não permite que algupem acesse a pasta raiz do projeto por meio da URL -->
</head>

<body>
  <header>
    <h1>Elga Alamour</h1>
  </header>

  <nav>
    <a href="index">Início</a>
    <a href="sobre">Sobre</a>
    <a href="projeto">Projetos</a>
    <a href="contato">Contato</a>
  </nav>
  {% block conteudo %}

  {% endblock %}

  <footer>
    &copy; 2023 Elga Alamour - Todos os direitos reservados
  </footer>
</body>
</html>