{% extends 'base.html' %}

{% block conteudo %}

{% with mensagens = get_flashed_messages() %}
    {% if mensagens %}
        <ul class="col-xl-12">
        {% for mensagem in mensagens %}
            <li class="alert alert-secondary" role="alert">{{ mensagem }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
<!-- Código antigo do form -->

<!-- Novo código do form -->
<form action="" method="post">
    {{ cadastro.csrf_token }}
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="email" class="form-label">Email:</label>
            {{ cadastro.email(class="form-control", placeholder="Digite seu email") }}
        </div>
        <div class="form-group col-md-6">
            <label for="senha" class="form-label">Senha:</label>
            {{ cadastro.senha(class="form-control", placeholder="Digite sua senha") }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="nome" class="form-label">Nome:</label>
            {{ cadastro.nome(class="form-control", placeholder="Ivanoir") }}
        </div>
        <div class="form-group col-md-4">
            <label for="sobrenome" class="form-label">Sobrenome:</label>
            {{ cadastro.sobrenome(class="form-control", placeholder="Costela") }}
        </div>
        <div class="form-group col-md-4">
            <label for="nome_usuario" class="form-label">Usuário:</label>
            {{ cadastro.nome_usuario(class="form-control", placeholder="Cost14") }}
        </div>
    </div>
    <div class="form-row">
        <div class="orm-group col-md-9">
            <label for="endereco">Endereço:</label>
            {{ cadastro.endereco(class="form-control", placeholder="Rua dos Bobos") }}
        </div>
        <div class="form-group col-md-3">
            <label for="numero_endereco">Número:</label>
            {{ cadastro.numero_endereco(class="form-control", placeholder="00") }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="bairro">Bairro:</label>
            {{ cadastro.bairro(class="form-control", placeholder="00") }}
        </div>
        <div class="form-group col-md-6">
            <label for="cidade">Cidade:</label>
            {{ cadastro.cidade(class="form-control", placeholder="Alagoinha") }}
        </div>
        </div>
        <div class="form-row">
        <div class="form-group col-md-6">
            <label for="uf">UF:</label>
            {{ cadastro.uf(class="form-control", placeholder="RN") }}
        </div>
        <div class="form-group col-md-6">
            <label for="cpf">CPF:</label>
            {{ cadastro.cpf(class="form-control", placeholder="Digite seu CPF") }}
        </div>
    </div>
    {{ cadastro.enviar(class="btn btn-dark") }}
</form>
  
{% endblock %}