{% extends 'base.html' %}

{% block conteudo %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      {% with mensagens = get_flashed_messages() %}
        {% if mensagens %}
          <ul class="flashes list-unstyled">
            {% for mensagem in mensagens %}
              <li class="alert alert-secondary" role="alert">{{ mensagem }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}

      

      <form action="" method="post">
        {{ formulario.csrf_token }}
        <div class="mb-3">
          <label for="nome" class="form-label">Nome:</label>
          {{ formulario.nome(class="form-control", placeholder="Digite seu nome") }}
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email:</label>
          {{ formulario.email(class="form-control", placeholder="Digite seu email") }}
        </div>
        <div class="mb-3">
          <label for="telefone" class="form-label">Telefone:</label>
          {{ formulario.telefone(class="form-control", placeholder="Digite um telefone para contato") }}
        </div>
        <div class="mb-3">
          <label for="conteudo" class="form-label">Conteúdo:</label>
          {{ formulario.conteudo(class="form-control", rows="5", placeholder="Digite sua mensagem") }}
        </div>
        {{ formulario.enviar(class="btn btn-dark") }}
      </form>
    </div>
  </div>
</div>
{% endblock %}