{% extends 'base.html' %}

{% block conteudo %}
<div class="container">
  <!-- Conteúdo da página "Contato" -->
  <div class="contact">
    <div class="contact-image"></div>
    <div class="contact-info">
      <form action="" method="post">
        <label for="nome">Nome:</label>
        {{formulario.nome}}
    
        <label for="email">Email:</label>
        {{formulario.email}}
    
        <label for="telefone">Telefone:</label>
        {{formulario.telefone}}
    
        <label for="conteudo">Conteúdo:</label>
        {{formulario.conteudo}}
        
        {{formulario.enviar}}
      </form>
    </div>
  </div>
</div>
{% endblock %}