{% extends 'base.html' %}

{% block conteudo %}

{% with mensagens = get_flashed_messages() %}
  {% if mensagens %}
    <ul class="flashes list-unstyled">
      {% for mensagem in mensagens %}
        <li class="alert alert-secondary" role="alert">{{ mensagem }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<div class="container">
  <div class="intro text-center py-5">
    <h2>Olá, bem-vindo ao meu portfólio!</h2>
    <p>Me chamo Elga Alamour, uma aspirante a programação apaixonada por tecnologia e desenvolvimento de software. Amante de gatos nas horas vagas</p>
  </div>

  <h2 class="text-center mb-4">Meus Projetos</h2>
  <div class="row">
    <div class="col-md-6">
      <div class="project mb-4">
        <h3>Projeto 1</h3>
        <p>Descrição do projeto 1.</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="project mb-4">
        <h3>Projeto 2</h3>
        <p>Descrição do projeto 2.</p>
      </div>
    </div>
    <!-- Adicione mais projetos aqui -->
  </div>
</div>
{% endblock %}