{% extends 'base.html' %}

{% block conteudo %}
<form>
    <div class="form-row align-items-center">
        <div class="my-1">
            <label class="sr-only" for="inlineFormInputGroupUsername">Usuário</label>
            <div class="input-group">
              <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Nome de Usuário">
            </div>
        </div>
        <div class="my-1">
            <label class="sr-only" for="inlineFormInputName">Senha</label>
            <input type="text" class="form-control" id="inlineFormInputPassword" placeholder="Insira sua senha">
        </div>
        <div class="col-auto my-1">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="autoSizingCheck2">
              <label class="form-check-label" for="autoSizingCheck2">
                Continuar conectado
              </label>
            </div>
        </div>
        <div class="col-auto my-1">
            <button type="submit" class="btn btn-primary">Entrar</button>
        </div>
    </div>
</form>
{% endblock %}