{% extends 'base.html' %}

{% block conteudo %}

{% with mensagens = get_flashed_messages() %}
  {% if mensagens %}
    <ul class="flashes list-unstyled">
      {% for mensagem in mensagens %}
        <li class="alert alert-secondary" role="alert">{{ mensagem }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<form action="{{ url_for('login') }}" method="post">
  <div class="form-row">
      <div class="mb-6">
          <label for="nome_usuario">Usuário</label>
          <input type="text" class="form-control" id="nome_usuario" name="nome_usuario" placeholder="Nome de Usuário" required>
      </div>
      <div class="mb-3">
          <label for="senha">Senha</label>
          <input type="password" class="form-control" id="senha" name="senha" placeholder="Insira sua senha" required>
      </div>
  </div>
  <button class="btn btn-primary" type="submit">Entrar</button>
</form>
{% endblock %}