{% extends 'base.html' %}

{% block conteudo %}
<div class="container">
  <div class="projects-container">
    <div class="row">
      <div class="col-md-6">
        <div class="project mb-4">
          <h3>Projeto 1 - Website para Companhia XPTO</h3>
          <a href="
          {% if session['nome_usuario'] %}
              {{ url_for('projeto1') }}
          {% else %}
              {{ url_for('login') }}
          {% endif %}
          " class="btn btn-primary">Leia mais</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="project mb-4">
          <h3>Projeto 2 - Aplicativo Mobile para Startup ABC</h3>
          <a href="
          {% if session['nome_usuario'] %}
              {{ url_for('projeto2') }}
          {% else %}
              {{ url_for('login') }}
          {% endif %}
          " class="btn btn-primary">Leia mais</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}