<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
</head>

<body>
  <header>
    <h1>Elga Alamour</h1>
  </header>

  <nav>
    <a href="index">Início</a>
    <a href="sobre">Sobre</a>
    <a href="projeto">Projetos</a>
    <a href="contato">Contato</a>
  </nav>

  <div class="container">
    <!-- Conteúdo da página "Projetos" -->
    <div class="projects-container">
      <div class="project">
        <h3>Projeto 1 - Website para Companhia XPTO</h3>
        <div class="project-details">
          <p><strong>Descrição:</strong> Desenvolvimento de um website responsivo para a Companhia XPTO, uma empresa fictícia do ramo de tecnologia.</p>
          <p><strong>Tecnologias Utilizadas:</strong> HTML, CSS, JavaScript, Bootstrap.</p>
          <p><strong>Cliente:</strong> Companhia XPTO</p>
        </div>
      </div>

      <div class="project">
        <h3>Projeto 2 - Aplicativo Mobile para Startup ABC</h3>
        <div class="project-details">
          <p><strong>Descrição:</strong> Desenvolvimento de um aplicativo mobile para a Startup ABC, uma empresa fictícia de tecnologia.</p>
          <p><strong>Tecnologias Utilizadas:</strong> React Native, Node.js, MongoDB.</p>
          <p><strong>Cliente:</strong> Startup ABC</p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>