{% extends 'base.html' %}

{% block conteudo %}
<div class="container">
  <!-- Conteúdo da página "Sobre" -->
  <div class="intro text-center py-5">
    <h2>Elga Alamour - A Programadora das Estrelas</h2>
    <p>Olá! Meu nome é Elga Alamour e sou uma jovem apaixonada por programação e astronomia. Desde criança, sempre me fascinei pelo céu noturno e suas estrelas cintilantes. Meus olhos brilhavam todas as noites enquanto eu imaginava viajar pelo universo e desbravar os segredos do cosmos.</p>
    <p>Com o passar dos anos, descobri que a tecnologia é a chave para desvendar os mistérios do espaço. Assim, decidi seguir uma carreira em programação para construir ferramentas que nos permitam explorar o universo de maneira cada vez mais profunda e significativa.</p>
    <p>Meu interesse na astronomia me levou a desenvolver aplicações relacionadas à visualização de estrelas, planetas e galáxias. Além disso, estou constantemente aprendendo e aprimorando minhas habilidades de programação para criar soluções inovadoras que possam contribuir para a exploração espacial e o avanço do conhecimento científico.</p>
    <p>Em meu tempo livre, além de codificar, gosto de observar o céu noturno com meu telescópio e documentar as maravilhas cósmicas através de fotografias. Acredito que a programação e a astronomia se complementam perfeitamente, e minha missão é trazer a beleza do espaço sideral para o mundo digital.</p>
    <p>Obrigada por visitar o meu portfólio e compartilhar comigo essa jornada intergaláctica através do mundo da programação.</p>
  </div>
</div>
{% endblock %}